<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>Stats Faceit</title>
    <!-- META -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
  </head>
  <body ng-controller="controller">
    
    <nav class="navbar navbar-default topbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </nav>

    <div class="container main-container" ng-cloak>
      <!-- Button -->
      <div class="container well col-md-12">
        <div class="input-group input-group-lg">
          <label for="big-input" class="input-group-addon">Nickname</label>
          <input type="text" for="big-input" id="big-input" class="form-control" placeholder="shox" aria-describedby="helpBlock" ng-model="user.nickname" required>
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" ng-click="fetch(user)">Fetch Stats !</button>
          </span>
        </div>
        <span id="helpBlock" class="center help-block"><i>Make sure to respect the case, "<b>SmithZz</b>" is different from "<b>Smithzz</b>"</i></span>
      </div>
      <!-- List -->
      <div class="container col-md-12">
        <div class="progress" ng-show="service.progress < 100 && service.progress > 0">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{service.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{service.progress}}%;">
            <span class="sr-only">{{service.progress}}%</span>
          </div>
        </div>
        <div class="nodata center" ng-show="service.progress != 100" ng-bindhtml="service.error != 0">
          No data yet.
        </div>
        <div class="col-md-8" ng-show="service.progress == 100">
          <div class="panel panel-default" ng-repeat="item in data 
            | filter:{nickname:filter.nickname} 
            | range:'data':filter.minMatches:filter.maxMatches 
            | orderBy:filter.orderMode+filter.orderBy">
            <div class="panel-heading">{{item.nickname}}</div>
            <div class="panel-body">
              <div>Wins : {{item.data.wins}}</div>
              <div>Losses : {{item.data.losses}}</div>
              <div>Percentage : 
                <button class="btn-values {{ item.data.percentage > 49 ? 'percentage-sup' : 'percentage-inf' }}">
                  <b>{{item.data.percentage}}%</b>
                </button>
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-4" ng-show="service.progress == 100">
            <div class="input-group">
              <label id="input-rang-matches" class="input-group-addon">Min Matches</label>
              <input type="number" for="input-rang-matches" class="form-control" aria-describedby="input-rang-matches" min="1" ng-model="filter.minMatches">
            </div>
            <div class="input-group">
              <label id="input-nickname" class="input-group-addon">Nickname</label>
              <input type="text" for="input-nickname" class="form-control" aria-describedby="input-nickname" ng-model="filter.nickname">
            </div>
            <div class="input-group">
              <label id="input-order" class="input-group-addon">Order</label>
              <select type="text" for="input-order" class="form-control" aria-describedby="input-order" ng-model="filter.orderBy">
                <option value="nickname">Nickname</option>
                <option value="data.wins">Wins</option>
                <option value="data.losses">Losses</option>
                <option value="data.percentage">Winning %</option>
              </select>
              <select type="text" for="input-order" class="form-control" aria-describedby="input-order" ng-model="filter.orderMode">
                <option value="+">Asc</option>
                <option value="-">Desc</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div id="footer">
        <div id="inner-footer">
          <p>Made by <a href="https://www.faceit.com/en/players/Enjoy/stats/csgo">Enjoy</a></p>
          <a class="foot-img" href="https://github.com/Enjoyted/faceit-stats">
            <img src="assets/images/GitHub_Logo.png" />
          </a>
        </div>
      </div>
    <!-- SCRIPT -->
  	<script src="app/core.js"></script>
  </body>
</html>