<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>Stats Faceit</title>
    <!-- META -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- JS -->
    <script src="assets/angular/angular.min.js"></script>
  </head>
  <body ng-controller="controller">
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </nav>

    <div class="container main-container" ng-cloak>

      <!-- Button -->
      <div class="container well col-md-12">
        <div class="input-group input-group-lg">
          <label id="big-input" class="input-group-addon">Nickname</label>
          <input type="text" for="big-input" class="form-control" placeholder="ScreaM" aria-describedby="big-input" ng-model="user.nickname">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="fetch(user)">Fetch Stats !</button>
          </span>
        </div>
      </div>

      <!-- List -->
      <div class="container col-md-12">
        <div class="progress" ng-show="service.progress < 100 && service.progress > 0">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{service.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{service.progress}}%;">
            <span class="sr-only">{{service.progress}}% Complete</span>
          </div>
        </div>
        <div class="panel panel-default" ng-repeat="item in data | filter:{username:'Enjoy'}" ng-show="service.progress == 100">
          <div class="panel-heading">{{item.username}}</div>
          <div class="panel-body">
            <div>Wins : {{item.data.wins}}</div>
            <div>Losses : {{item.data.losses}}</div>
            <div>Percentage : {{item.data.percentage}}%</div>
          </div>
        </div>
      </div>

    </div>

    <!-- SCRIPT -->
  	<script src="app/core.js"></script>
  </body>
</html>