<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>Stats Faceit</title>
    <!-- META -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- JS -->
    <script src="assets/angular/angular.min.js"></script>
  </head>
  <body ng-controller="controller">
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </nav>

    <div class="container main-container" ng-cloak>
      <!-- Button -->
      <div class="container well col-md-12">
        <div class="input-group input-group-lg">
          <label id="big-input" class="input-group-addon">Nickname</label>
          <input type="text" for="big-input" class="form-control" placeholder="ScreaM" aria-describedby="big-input" ng-model="user.nickname">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="fetch(user)">Fetch Stats !</button>
          </span>
        </div>
      </div>
      <!-- List -->
      <div class="container col-md-12">
        <div class="progress" ng-show="service.progress < 100 && service.progress > 0">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{service.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{service.progress}}%;">
            <span class="sr-only">{{service.progress}}%</span>
          </div>
        </div>
        <div class="nodata center" ng-show="service.progress != 100">
          No data yet.
        </div>
        <div class="col-md-8" ng-show="service.progress == 100">
          <div class="panel panel-default" ng-repeat="item in data 
            | filter:{username:filter.username} 
            | range:'data':filter.minMatches:filter.maxMatches 
            | orderBy:filter.orderMode+filter.orderBy">
            <div class="panel-heading">{{item.username}}</div>
            <div class="panel-body">
              <div>Wins : {{item.data.wins}}</div>
              <div>Losses : {{item.data.losses}}</div>
              <div>Percentage : 
                <span class="{{ item.data.percentage > 49 ? 'percentage-sup' : 'percentage-inf' }}">
                  <b>{{item.data.percentage}}%</b>
                </span>
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-4" ng-show="service.progress == 100">
            <div class="input-group">
              <label id="input-rang-matches" class="input-group-addon">Min Matches</label>
              <input type="number" for="input-rang-matches" class="form-control" aria-describedby="input-rang-matches" min="1" ng-model="filter.minMatches">
            </div>
            <div class="input-group">
              <label id="input-username" class="input-group-addon">Username</label>
              <input type="text" for="input-username" class="form-control" aria-describedby="input-username" ng-model="filter.username">
            </div>
            <div class="input-group">
              <label id="input-order" class="input-group-addon">Order</label>
              <select type="text" for="input-order" class="form-control" aria-describedby="input-order" ng-model="filter.orderBy">
                <option value="username">Username</option>
                <option value="data.wins">Wins</option>
                <option value="data.losses">Losses</option>
                <option value="data.percentage">Percentage</option>
              </select>
              <select type="text" for="input-order" class="form-control" aria-describedby="input-order" ng-model="filter.orderMode">
                <option value="+">Asc</option>
                <option value="-">Desc</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div id="footer">
        <div id="inner-footer">
          <p>Made by <a href="https://www.faceit.com/en/players/Enjoy/stats/csgo">Enjoy</a></p>
          <a class="foot-img" href="https://github.com/Enjoyted">
            <img src="assets/images/GitHub_Logo.png" />
          </a>
        </div>
      </div>
    <!-- SCRIPT -->
  	<script src="app/core.js"></script>
  </body>
</html>