@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.ttf');
}

body {
	
}

.center {
	text-align: center;
}

#footer {
	position: fixed;
	bottom: 0;
	border-top: 1px solid black;
	margin: 0 auto;
	width: 100%;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
#footer #inner-footer {
	margin: 0 auto;
	width: 10%;
}
#footer a {
	display: inline-block;
}

#footer .foot-img {
	text-align: center;
}

#footer img {
	text-align: center;
	width: 70px;
}

.nodata {
	font-size: 20px;
	font-style: italic;
}

.btn-values {
	padding:6px 0 6px 0;
	font:Bold 13px Arial;
	color:#fff;
	width:50px;
	border-radius:0px;
	border:none;
}

.percentage-sup {
	background-color: #4bbf73;
}

.percentage-inf {
	background-color: #d9534f;
}